<!DOCTYPE html>
<html>

<head>
    <title>USER DASHBOARD</title>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/stylesheets/dashboards.css') }}">
    
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/stylesheets/tables.css') }}">

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <!-- navbar -->
    <ul>
        <li><a style="color: white" href="logout">LOGOUT</a></li>
        <li><a style="color: white" href="profile">PROFILE</a></li>
    </ul>
    <div class="class-container" id="container">
        <div class="header">
            <h2 class="header__title">
                Welcome {{msg}}!
            </h2>
        </div>
    </div>
    <!-- navbar ends -->

    <div class="flasher">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>

    <div class="flex justify-center mt-2">
        <div class="block p-6 rounded-lg shadow-lg bg-black max-w-sm">
            <a href="newdonor">
                <button type="button"
                    class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 ">REGISTER AS DONOR</button>
            </a>
        </div>
    </div>
    <div class="flex justify-center mt-10">
        <div class="block p-6 rounded-lg shadow-lg bg-black max-w-sm">
            <a href="newrequest">
                <button type="button"
                    class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 ">REQUEST PLASMA</button>
            </a>
        </div>
    </div>
    <div class="flex justify-center mt-10">
        <div class="block p-6 rounded-lg shadow-lg bg-black max-w-sm">
            <a href="pastrequests">
                <button type="button"
                    class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 ">PAST REQUESTS</button>
            </a>
        </div>
    </div>
    <div class="flex justify-center mt-10">
        <div class="block p-6 rounded-lg shadow-lg bg-black max-w-sm">
            <a href="adminrequests">
                <button type="button"
                    class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 ">ADMIN REQUESTS</button>
            </a>
        </div>
    </div>

    <!-- <section style="text-align: center;">
        <div><a type="button" href="newdonor" style="font-size:30px">REGISTER AS DONOR</a></div>
        <hr>
        <div><a type="button" href="newrequest" style="font-size:30px">REQUEST PLASMA</a></div>
        <hr>
        <div><a type="button" href="pastrequests" style="font-size:30px">PAST REQUESTS</a></div>
        <hr>
        <div><a type="button" href="adminrequests" style="font-size:30px">ADMIN REQUESTS TO ME</a></div>
    </section> -->
</body>

</html>