<!DOCTYPE html>
<html lang="en">

<head>
  <title>PLASMA DONOR APPLICATION</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/stylesheets/index.css') }}">

  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
  <ul>
    <li><a href="login">LOGIN</a></li>
    <li><a href="register">REGISTER</a></li>
  </ul>
  <!-- navbar ends -->

  <div class="class-container" id="container">
    <div class="header">
      <h2 class="header__title">
        PLASMA DONOR APPLICATION
      </h2>
      <h3 class="header__subtitle">
        Welcome to the Application
        <i class="fa fa-hand-o-down" style="font-size: 25px;"></i>
      </h3>
    </div>
  </div>

  <div class="flasher">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <p>{{ message }}</p>
  {% endfor %}
  {% endif %}
  {% endwith %}
  </div>

  <!-- what we focus on -->
  <div class="bdy">
    <img id="imag" src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/plasma-53045-bucket/logo.jpg"/>
    <p class="para">
      </br>
      </br>
      The main objective is to create an easy-to-use application that can be used by
      donors to donate their blood to blood banks. Hospitals in need for blood plasma
      can request blood from blood banks. This application should have a wider reach
      to appeal to more potential blood donors.
      </br>
      </br>
      Vision: To donate plasma in a hassle free condition by using our app.
    </p>
  </div>
  <!-- focus section ends -->

  <!-- footer starts -->
  <div class="footer-basic">
    <footer>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="mailto:gokhul19032@cse.ssn.edu.in" target="_blank">Email Us</a>
        </li>
      </ul>
      <p class="copyright">SSNCE 2022 - PNT2022TMID53045</p>
    </footer>
  </div>
</body>

</html>