<!DOCTYPE html>
<html>

<head>
    <title>CURRENT USER'S PROFILE</title>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/stylesheets/tables.css') }}">

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/stylesheets/results.css') }}">

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <!-- navbar -->
    <nav>
        <ul>
            <div style="text-align: right;">
                <li><a type="button" href="dashboard">DASHBOARD</a></li>
                <li><a type="button" href="logout">LOGOUT</a></li>
            </div>
        </ul>
        <div class="class-container" id="container">
            <h4 style="text-align: center; color:white; font-size:25px;">Welcome {{ msg }}!</h4>
        </div>
    </nav>
    <!-- navbar ends -->

    <div class="flex justify-center mt-2">
        <table class="table" style="margin-top: 80px;">
            <caption>USER PROFILE</caption>
            {% for key,value in dictprofile.items() %}
            <tr class="table__row">
                <td class="table__cell""> {{ key }} </td>
            <td class=" table__cell"> {{ value }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <pre style="font-weight:bold;font-size:20px">To make any changes to your profile, please contact our system administrator at gokhul19032@cse.ssn.edu.in.</pre>
</body>

</html>