<!DOCTYPE html>
<html>

<head>
    <title>CURRENT USER'S REQUESTS</title>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/stylesheets/tables.css') }}">

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/stylesheets/results.css') }}">

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/stylesheets/forms.css') }}">

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <!-- navbar starts -->
    <ul>
        <div style="text-align: right;">
            <li><a type="button" href="dashboard">DASHBOARD</a></li>
            <li><a type="button" href="profile">PROFILE</a></li>
            <li><a type="button" href="logout">LOGOUT</a></li>
        </div>
    </ul>
    <div class="class-container" id="container">
        <h4 style="text-align: center; color:white; font-size:25px; margin-bottom: 100px;">You have made the following
            requests for plasma.</h4>
    </div>
    <!-- navbar ends -->

    <div class="flex justify-center mt-2">
        <table class="table">
            <caption>YOUR PAST REQUEST</caption>
            <tr class="table__header">
                {% for header in headings %}
                <th class="table__cell">{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
            <tr class="table__row">
                {% for cell in row %}
                <td class="table__cell">{{ cell }}</td>
                {% endfor %}
                <td>
                    <form action="/deletereq" method="POST" onsubmit="alert('YOU CANNOT UNDO THIS ACTION!')">
                        <input type="hidden" name="username" value="{{ msg }}">
                        <input type="hidden" name="pname" value="{{ row[0] }}">
                        <button id="deletebutton" class="button" type="submit"> Delete Request </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <pre style="font-weight:bold; font-size:20px; text-align: center;">
        Don't see a past request you made?
        It was probably closed by the administrator.
        If you think this is a mistake, please contact us at +91 XXXXX XXXXX.
    </pre>
</body>

</html>