<!DOCTYPE html>
<html>

<head>
    <title>ALL REQUESTS</title>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/stylesheets/tables.css') }}">

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/stylesheets/results.css') }}">

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <!-- navbar -->
    <ul>
        <div style="text-align: right;">
            <li><a type="button" href="admindashboard">DASHBOARD</a></li>
            <li><a type="button" href="logout">LOGOUT</a></li>
        </div>
    </ul>
    <div class="class-container" id="container">
        <h4 style="text-align: center; color:white; font-size:25px; margin-bottom: 100px;">System has the following
            donors.</h4>
    </div>
    <!-- navbar ends -->

    <!-- requests table starts -->
    <div class="flex justify-center mt-2">
        <table class="table">
            <caption>ALL DONORS</caption>
            <tr class="table__header">
                {% for header in headings %}
                <th class="table__cell">{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
            <tr class="table__row">
                {% for cell in row %}
                <td class="table__cell">{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>